

<div class="container mt-5" >
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
    <mat-grid-tile style="cursor: pointer;" routerLink="/dados-pessoais">Dados Pessoais</mat-grid-tile>
    <mat-grid-tile style="cursor: pointer;" routerLink="/dados-bancarios">Dados Bancários</mat-grid-tile>
    <mat-grid-tile style="cursor: pointer;" routerLink="/extrato-bancario">Extrato Bancário</mat-grid-tile>
    <mat-grid-tile style="cursor: pointer;" routerLink="/transacoes-financeiras">Transações Financeiras</mat-grid-tile>
  </mat-grid-list>
</div>


